mixin recall(text_title)
    section.recall.padding-lg
        .container
            .row
                .col-12.wow-outer
                    h3.text-center.wow.slideInUp=text_title

            .carousel.slide#slider-team(data-ride="carousel")

                .carousel-inner.mt-75
                    .carousel-item.active
                        .row.d-flex.justify-content-center
                            .col-12.col-lg-4.mr-b-20
                                .team
                                    .title.d-flex
                                        .avatar
                                            img(src="https://livedemo00.template-help.com/wt_67881/images/testimonials-person-5-96x96.jpg"
                                                width="50" class="rounded-circle" alt="")


                                        .team_info.ml-3
                                            span.name Гарольд Барнетт
                                            p.dev Региональный управляющий

                                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
                            .col-12.col-lg-4.mr-b-20
                                .team
                                    .team_box
                                        .title.d-flex
                                            .avatar
                                                img(src="https://livedemo00.template-help.com/wt_67881/images/testimonials-person-5-96x96.jpg"
                                                    width="50" class="rounded-circle" alt="")


                                            .team_info.ml-3
                                                span.name Гарольд Барнетт
                                                p.dev Региональный управляющий
            
                                        p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
                            .col-12.col-lg-4.mr-b-20
                                .team
                                    .team_box
                                        .title.d-flex
                                            .avatar
                                                img(src="https://livedemo00.template-help.com/wt_67881/images/testimonials-person-5-96x96.jpg"
                                                    width="50" class="rounded-circle" alt="")


                                            .team_info.ml-3
                                                span.name Гарольд Барнетт
                                                p.dev Региональный управляющий
            
                                        p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
        
                    .carousel-item
                        .row.d-flex.justify-content-center
                            .col-12.col-lg-4.mr-b-20
                                .team
                                    .team_box
                                        .title.d-flex
                                            .avatar
                                                img(src="https://livedemo00.template-help.com/wt_67881/images/testimonials-person-5-96x96.jpg"
                                                    width="50" class="rounded-circle" alt="")


                                            .team_info.ml-3
                                                span.name Гарольд Барнетт
                                                p.dev Региональный управляющий
            
                                        p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
                            .col-12.col-lg-4.mr-b-20
                                .team
                                    .team_box
                                        .title.d-flex
                                            .avatar
                                                img(src="https://livedemo00.template-help.com/wt_67881/images/testimonials-person-5-96x96.jpg"
                                                    width="50" class="rounded-circle" alt="")


                                            .team_info.ml-3
                                                span.name Гарольд Барнетт
                                                p.dev Региональный управляющий
            
                                        p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
                            .col-12.col-lg-4.mr-b-20
                                .team
                                    .team_box
                                        .title.d-flex
                                            .avatar
                                                img(src="https://livedemo00.template-help.com/wt_67881/images/testimonials-person-5-96x96.jpg"
                                                    width="50" class="rounded-circle" alt="")


                                            .team_info.ml-3
                                                span.name Гарольд Барнетт
                                                p.dev Региональный управляющий
            
                                        p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
                
                ul.carousel-indicators
                    li.active(data-target="#slider-team" data-slide-to="0")
                    li(data-target="#slider-team" data-slide-to="1")