section.services.padding-lg
    .container
        .row.d-flex.justify-content-center
            .col-12
                .wow-outer
                    h3.text-center.wow.slideInDown Продукция

            .col-12.col-lg-8
                .wow-outer
                    p.text-center.mt-3.wow.slideInDown Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.

        .row.lists-row
            .col-12.wow-outer
                h4.title.wow.fadeInDown Программируемые логические контроллеры
  
            .col-sm-6.col-lg-3.wow-outer
                .item-old.wow.fadeInLeft
                    .box-images
                        a.box-images-hf(href="./service.html")
                            img(src=require("../../resource/img/products/3/product3-4.jpg") alt="#")
                
                    a(href="./service.html") Модуль расширения входов/выходов
            
            .col-sm-6.col-lg-3.wow-outer
                .item-old.wow.fadeInLeft
                    .box-images
                        a.box-images-hf(href="./service.html")
                            img(src=require("../../resource/img/products/3/product3-4.jpg") alt="#")
                
                    a(href="./service.html") Программируемое реле с дисплеем 

            .col-sm-6.col-lg-3.wow-outer
                .item-old.wow.fadeInLeft
                    .box-images
                        a.box-images-hf(href="./service.html")
                            img(src=require("../../resource/img/products/3/product3-4.jpg") alt="#")
                
                    a(href="./service.html") Микроконтроллерный модуль

            .col-sm-6.col-lg-3.wow-outer
                .item-old.wow.fadeInLeft
                    .box-images
                        a.box-images-hf(href="./service.html")
                            img(src=require("../../resource/img/products/3/product3-4.jpg") alt="#")
                
                    a(href="./service.html") Контроллер для малых систем автоматизации с DI/DO

        .row.lists-row
            .col-12.wow-outer
                h4.title.wow.fadeInDown Программируемые логические контроллеры
            each val in [1, 2, 3, 4, 5]
                .col-sm-6.col-lg-3.wow-outer
                    .item-old.wow.fadeInLeft
                        .box-images
                            a.box-images-hf(href="./service.html")
                                img(src=require("../../resource/img/products/3/product3-3.jpg") alt="#")
                    
                        a(href="./service.html") Модуль расширения входов/выходов

        .row.lists-row
            .col-12.wow-outer
                h4.title.wow.fadeInDown Программируемые логические контроллеры
            each val in [1, 2, 3, 4, 5, 6]
                .col-sm-6.col-lg-3.wow-outer
                    .item-old.wow.fadeInLeft
                        .box-images
                            a.box-images-hf(href="./service.html")
                                img(src=require("../../resource/img/products/3/product3-4.jpg") alt="#")
                    
                        a(href="./service.html") Модуль расширения входов/выходов

        .row.lists-row
            .col-12.wow-outer
                h4.title.wow.fadeInDown Программируемые логические контроллеры
            each val in [1, 2, 3, 4, 5, 6, 7]
                .col-sm-6.col-lg-3.wow-outer
                    .item-old.wow.fadeInLeft
                        .box-images
                            a.box-images-hf(href="./service.html")
                                img(src=require("../../resource/img/products/3/product3-3.jpg") alt="#")
                    
                        a(href="./service.html") Модуль расширения входов/выходов

        .row.lists-row
            .col-12.wow-outer
                h4.title.wow.fadeInDown Программируемые логические контроллеры
            each val in [1, 2, 3, 4, 5, 6, 7, 8]
                .col-sm-6.col-lg-3.wow-outer
                    .item-old.wow.fadeInLeft
                        .box-images
                            a.box-images-hf(href="./service.html")
                                img(src=require("../../resource/img/products/3/product3-4.jpg") alt="#")
                    
                        a(href="./service.html") Модуль расширения входов/выходов


        .row.lists-row
            .col-12.wow-outer
                h4.title.wow.fadeInDown Программируемые логические контроллеры
        
            .col-sm-6.col-lg-3.wow-outer
                .item.wow.fadeInLeft
                    img(src=require("../../resource/img/products/3/product3-4.jpg") alt="#")

                    .solutions-caption
                        a.solutions-caption-title(href="./service.html") Модуль расширения входов/выходов

            .col-sm-6.col-lg-3.wow-outer
                .item.wow.fadeInLeft
                    img(src=require("../../resource/img/products/3/product3-4.jpg") alt="#")

                    .solutions-caption
                        a.solutions-caption-title(href="./service.html") Программируемое реле с дисплеем
            
            .col-sm-6.col-lg-3.wow-outer
                .item.wow.fadeInLeft
                    img(src=require("../../resource/img/products/3/product3-4.jpg") alt="#")

                    .solutions-caption
                        a.solutions-caption-title(href="./service.html") Микроконтроллерный модуль

            .col-sm-6.col-lg-3.wow-outer
                .item.wow.fadeInLeft
                    img(src=require("../../resource/img/products/3/product3-4.jpg") alt="#")

                    .solutions-caption
                        a.solutions-caption-title(href="./service.html") Контроллер для малых систем автоматизации с DI/DO

        .row.lists-row
            .col-12.wow-outer
                h4.title.wow.fadeInDown Программируемые реле
        
            .col-sm-6.col-lg-3.wow-outer
                .item.wow.fadeInLeft
                    img(src=require("../../resource/img/products/3/product3-3.jpg") alt="#")

                    .solutions-caption
                        a.solutions-caption-title(href="./service.html") Модуль расширения входов/выходов

            .col-sm-6.col-lg-3.wow-outer
                .item.wow.fadeInLeft
                    img(src=require("../../resource/img/products/3/product3-3.jpg") alt="#")

                    .solutions-caption
                        a.solutions-caption-title(href="./service.html") Программируемое реле с дисплеем
            
            .col-sm-6.col-lg-3.wow-outer
                .item.wow.fadeInLeft
                    img(src=require("../../resource/img/products/3/product3-3.jpg") alt="#")

                    .solutions-caption
                        a.solutions-caption-title(href="./service.html") Микроконтроллерный модуль

            .col-sm-6.col-lg-3.wow-outer
                .item.wow.fadeInLeft
                    img(src=require("../../resource/img/products/3/product3-3.jpg") alt="#")

                    .solutions-caption
                        a.solutions-caption-title(href="./service.html") Контроллер для малых систем автоматизации с DI/DO