.container
    .row
        .col-12.col-lg-4
            h4 Давно выяснено
            p.mt-30 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации.

        .col-12.col-lg-4
            h4 Где его взять?
            p.mt-30.mb-1
                a(href="#") Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда</a>
       
            ul.d-flex
                li Гарольд Барнетт
                li 
                    a.ml-3(href="#") 2 дня назад
            
            p.mb-1.mt-30
                a(href="#") Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда</a>
            
            ul.d-flex
                li Гарольд Барнетт
                li 
                    a.ml-3(href="#") 2 дня назад

        .col-12.col-lg-4
            h4 Галерея

            .container.mt-30
                .row
                    .col-3.gallery-item
                        a(href="#")
                            img(src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg"
                                alt="#")

                    .col-3.gallery-item
                        a(href="#")
                            img(src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg"
                                alt="#")
                   
                    .col-3.gallery-item
                        a(href="#")
                            img(src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg"
                                alt="#")

                    .col-3.gallery-item
                        a(href="#")
                            img(src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg"
                                alt="#")

                    .col-3.gallery-item
                        a(href="#")
                            img(src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg"
                                alt="#")

                    .col-3.gallery-item
                        a(href="#")
                            img(src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg"
                                alt="#")

                    .col-3.gallery-item
                        a(href="#")
                            img(src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg"
                                alt="#")

                    .col-3.gallery-item
                        a(href="#")
                            img(src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg"
                                alt="#")

    .row.d-flex.align-items-center
        .col-12.col-lg-10
            ul.bottom-menu
                li
                    a(href="#") Главная
       
                li
                    a(href="#") Продукция
               
                li
                    a(href="#") Решения
               
                li
                    a(href="#") О бренде
               

        .col-12.col-lg-2
            ul.social-icon.d-flex.justify-content-between
                li
                    a(href="#")
                        i.fab.fa-facebook-f
     
                li
                    a(href="#")
                        i.fab.fa-twitter
   
                li
                    a(href="#")
                        i.fab.fa-instagram

                li
                    a(href="#")
                        i.fab.fa-google

                li
                    a(href="#")
                        i.fab.fa-linkedin-in

    .row
        .footer-advanced
            a.mr-t-20(href="#")
                img(src=require("../../resource/img/logo_white.svg") height="39")
            span.mr-t-20 © 2019 Все права защищены.